/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-widt: 1200px) {
  .sidenav {
    width: 258px;
  }

  .sidenav>li>a {
    width: 230px \9;
    /* Override the previous IE8-9 hack */
  }

  span#title {
    font-size: 24px;
    margin: auto;
  }

  /* h1 {
    margin: auto;
  } */

  h1#Hello-There-Welcome-To-This-Blog {
    margin: auto;
  }

  .page-header {
    margin: initial;
  }

  #iframe-yt-video {
    width: 100%;
    height: 550px;
  }
}

/* Desktop
------------------------- */
@media (min-width: 991px) and (max-width: 1199px) {

  /* When affixed, space properly */
  .sidenav {
    top: 0;
    width: 218px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 0;
  }

  span#title-intro {
    font-size: 18px;
    margin: auto;
  }

  /* h1 {
    margin: auto;
  } */

  h1#Hello-There-Welcome-To-This-Blog {
    margin: auto;
  }

  .page-header {
    margin: initial;
  }

  a.brand {
    font-size: 24px;
  }

  .page-header h1 span.date {
    display: inline-block;
    overflow: visible;
    width: 80;
    height: 80;
    padding-top: 0.5rem;
  }

  .page-header h1 span.title {
    font-size: 24px;
    word-wrap: break-word;
    /* Ensures long words break */
    overflow-wrap: break-word;
  }

  #iframe-yt-video {
    width: 100%;
    height: 400px;
  }
  h1 {
    line-height: 0.7em
  }

}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 990px) {

  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  .page-header h1 span.date::before {
    display: contents;
    overflow: hidden;
    font-size: 16px;
    margin-top: 2rem;
    margin-left: 10rem;
    width: 0;
    height: 0;
    padding-top: 0.5rem;
  }

  .page-header h1 span.date {
    font-size: 16px;
    padding-top: 0.5rem;
  }

  /* Adjust sidenav width */
  .sidenav {
    width: 166px;
    margin-top: 20px;
  }

  span#title-intro {
    font-size: 16px;
    margin: auto;
  }

  /* h1 {
    margin: auto;
  } */

  h1#Hello-There-Welcome-To-This-Blog {
    margin: auto;
  }

  .page-header {
    margin: initial;
  }

  a.brand {
    font-size: 26px;
  }

  .page-header h1 span.title {
    font-size: 26px;
  }

  h1 {
    line-height: 0.7em
  }

}

/* Tablet
------------------------- */
@media (min-width: 481px) and (max-width: 767px) {

  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  /* Sidenav */
  .sidenav {
    margin-bottom: 20px;
    position: static;
    width: auto;
    top: 0;
  }

  span#title-intro {
    font-size: 14px;
    margin: auto;
  }

  /* h1 {
    margin: auto;
  } */

  h1#Hello-There-Welcome-To-This-Blog {
    margin: auto;
  }

  a.brand {
    font-size: 28px;
  }

  .page-header h1 span.date::before {
    display: contents;
    overflow: visible;
    font-size: 18px;
    margin-left: 10rem;
    width: 0;
    height: 0;
    padding-top: 0.5rem;
  }

  .page-header h1 span.date {
    font-size: 18px;
    position: absolute;
    padding-top: 0.5rem;
  }

  .page-header h1 span.title {
    font-size: 28px;
  }

  h1 {
    line-height: 0.7em
  }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {

  /* Remove padding above jumbotron */
  body {
    padding-top: 0;
  }

  /* Change up some type stuff */
  h2 small {
    display: block;
  }

  /* Do our best to make tables work in narrow viewports */
  table code {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
  }

  .sidenav {
    position: static;
    width: auto;
    top: 0;
  }

  .page-header h1 span.date::before {
    display: contents;
    overflow: visible;
    font-size: 12px;
    width: 0;
    height: 0;
    padding-right: 1rem
    padding-top: 0.5rem;
  }

  .page-header h1 span.date {
    font-size: 12px;
    padding-left: 7.5rem;
    position: static;
    padding-top: 0.5rem;
  }

  span#title-intro {
    font-size: 14px;
    margin: auto;
  }

  /* h1 {
    margin: auto;
  } */
  .page-header h1 span.title {
    font-size: 24px;
    word-wrap: break-word;
    /* Ensures long words break */
    overflow-wrap: break-word;
  }

  a.brand {
    font-size: 23.5px;
  }

  h1#Hello-There-Welcome-To-This-Blog {
    margin: auto;
    font-size: smaller
  }

  h1 {
    font-size: 24px;
    margin: auto;
    padding-bottom: 10px;
    line-height: 0.7em
  }

  .content {

    margin: 20px 0px;
  }



}




/* Media query for screens smaller than 600px */
@media screen and (max-width: 600px) {
  .MathJax span {
    font-size: 15px;
    /* Adjust to 80% of the default size */
  }

  #iframe-yt-video {
    width: 100%;
    height: 200px
  }

  .page-header h1 span.date::before {
    display: contents;
    overflow: visible;
    font-size: 12px;
    width: 0;
    height: 0;
    position: static;
    padding-top: 0.5rem;

  }

  .page-header h1 span.date {
    font-size: 12px;
    padding-top: 0.5rem;
  }

  a.brand {
    font-size: 23.5px;
  }


  .page-header h1 span.title {
    font-size: 22px;
    position: relative
  }

}

/* Media query for screens between 600px and 900px */
@media screen and (min-width: 600px) and (max-width: 900px) {
  .MathJax span {
    font-size: 13px;
    /* Adjust to 90% of the default size */
  }
  .page-header h1 span.date::before {
    display: contents;
    overflow: visible;
    font-size: 15px;
    margin-left: 10rem;
    width: 0;
    height: 0;
    padding-top: 0.5rem;
  }

  .page-header h1 span.date {
    font-size: 15px;
    padding-top: 0.5rem;
  }
  .page-header h1 span.title {
    font-size: 22px;
    position: relative
  }

  a.brand {
    font-size: 23.5px;
  }
}


@media screen and (max-width: 400px) {
  .MathJax span {
    font-size: 10px;
    /* Adjust to 80% of the default size */
    text-align: center;
  }

  .page-header {
    font-size: 22px;
    padding: 20px 10px 10px 20px
  }

  .page-header h1 span.date::before {
    display: contents;
    overflow: visible;
    font-size: 10px;
    width: 0;
    height: 0
    /* padding-top: 0.5rem; */
  }

  .page-header h1 span.date {
    position: absolute;
    margin-right: 20px;
    /* padding-top: 0.5rem; */
    font-size: 15px;

  }
  .page-header h1  {
    font-size: 24px;
    /* position: relative */
  }

  a.brand {
    font-size: 23.5px;
  }
}




.label {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px; /* Adjust space between the label and the text */
}

.align-text {
    display: inline-block;
    vertical-align: top;
    text-indent: -9999px;
    margin-left: -9999px;
}

p span.label + span {
    display: inline-block;
    vertical-align: top;
    margin-left: -5px; /* Adjust space to align with the text */
}
